/*                             SELECTORES                   */

/* Los selectores cuando se tiene un id se usa el #nombre del id{}; cuando es una clase se usa el .nombreclase{};
cuando es una etiqueta se usa nombreetiqueta(body, h1,p,etc ejemplo){}; sino queremos que todo lo que esta
dentro de una etiqueta tenga las mismas propiedades  usamos las clases; etiqueta.clase es para todas 
las etiquetas(ejemplo de tipo) que contengan la palabra clase se le asigna el estilo */
#Titulo{
    color: #ff0000;
    /* frontsize para agrandar o achicar la letra del texto */
    font-size: 32px;
    /* border para poner bordes a cualquier parte que quiera*/
    /* border: 7px yellow solid; */
    /*OPCIONES DE TIPOS DE BORDES
    dotted, dashed, solid, double, groove, ridge, inset, ouset, none, hidden
    */
    /* otra forma de poner bordes sin poner todas las propiedas en la misma linea es de esta manera */
    border-style: solid;
    border-color: #00ff00;
    border-radius: 5px;
    border-width: 5px;
    /* Las unidades de medidas son los pixeles(px), centimetros, milimetros, etc. recomendable usar px  */
}
p.texto{
    color:rgb(119, 30, 141) ;
}
.special{
    color:green;
}
/* aca para todas las eiquetas de div que contengan una etiqueta o sub etiqueta de p o heading se le aplicara
 un estilo */
div p {
    color: aquamarine;
}
div h2, div h3{
    color: brown;
}
h4{
    color: orangered;
}
/* El selector usado abajo es para aplicar estilos a todo el codigo HTML, en este caso se aplica un tamaño
de fuente de 24 pixeles a todo el codigo html. Este selector solo es valido para propiedades que no han sido
definidas arriba o en otras etiquetas, recordar que las de mas bajos pesan mas, si quiero usar color no lo cambiaria*/
* {
    font-size: 24px;
}
#fondo h2{
    color: white;
}

/* Con la propiedad background podemos modificar el fondo de nuestra pagina, ya sea el tamaño de fondo a 
ocupar, poner una imagen de fondo en lo que vamos a escribir, backgruoun-size es para darle las dimensiones 
a la imagen que ponemos de fondo*/
#fondo{
    background-color: rgba(236, 21, 21, 0.3);/* opacidad de 0 a 1; siendo 0 se ve mas a 1 no se ve nada*/
    height: 900px;
    background-image: url('photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-repeat: repeat-y; */
    /* background-position: center bottom; */
}
/*Con la propiedad margin podemos darle la margen a los textos o a lo que este dentro de la clase o el html, con padding
es lo mismo pero de forma interna, no me sirve mucho*/
.margen{
    background-color: yellow; 
    margin:15px 20px 25px 390px; /*arriba(T),derecha(R),abajo(B),izquierda(L)*/
    /* padding: 30px 25px 20px 15px; */
    border: solid 2px black;
    height: 45px;
    width: 360px;
    /* overflow: scroll; moidifica el cuadro con borde para que se vea el texto o otras funciones */
    
    /* El outline es un borde que se coloca fuera del borde pero antes del margin, tiene las mismas
    propiedades que el border*/
    outline: 1px solid red;
}

/* MODIFICAR TEXTO, FUENTE, JUSTIFICADO, SOMBRA, ETC */
.parrafo{
    font-family:Arial, Helvetica, sans-serif;/*Tipo de fuentes del texto, si arial no esta, es heveltica y asi, se pueden importar desde google font igual*/
    /* el text-align es para centralizar justificar o cosas asi los textos */
    text-align: center;
    text-decoration: underline;/* Para subrayar, tachar poner linea por encima, etc*/
    text-shadow: 3px 5px 5px blue;/* sombrea el texto, derecha,abajo,cant de sombreado,color*/
}
/* LINKS Y SUS ESTADOS CON EL ORDEN DE USO QUE ESTA AHI*/
a:link{/*Cuando el link no ha sido visitado*/
    color: blueviolet;
}
a:visited{/*Cuando el link fue visitado*/
    color: red;
}
a:hover{/* Cuando paso el mouse por encima*/
    color: gray;
}
a:active{/*Cuando estoy pinchando el link, este debe ser orden de uso*/
    color: blue;
}



/* MODIFICACION DE LA LISTA NO ORDENADA */
ul { 
    background-color:rgb(65, 1, 2);
    list-style-type: lower-alpha;
    
    /* list-style-type: none; */
    /* padding-left: 0;  */
    /* list-style-position: outside;  */
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.title-container {
    background-color: rgb(31, 29, 30);
    padding: 10px;
    text-align: center;
    font-family: 'Anton', sans-serif; /* Fuente similar a la de la imagen */
}

.d, .e, .f {
    font-size: 25px; /* Ajusta el tamaño según lo necesites */
    margin: 10px 0;
    color: white;
    font-weight: bold;
    letter-spacing: 2px; /* Espaciado similar al estilo de la imagen */
    text-transform: uppercase;
}




.precio {
    font-size: 20px; /* Tamaño de la fuente */
    color: white; /* Color del texto, puedes cambiar '#333' por el color que prefieras */
    /* Otros estilos que desees agregar */
}
.etiqueta1 {
    font-size: 14px; /* Tamaño de la fuente */
    color: white; /* Color del texto, puedes cambiar '#333' por el color que prefieras */
    /* Otros estilos que desees agregar */
}
.etiqueta2 {
    font-size: 20px; /* Tamaño de la fuente */
    color: white; /* Color del texto, puedes cambiar '#333' por el color que prefieras */
    /* Otros estilos que desees agregar */
    font-family: 'Arial', sans-serif;
}
ul p{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.direccion{
    color:black;
    background-color:rgb(206, 173, 102);
    padding: 30px 25px 20px 15px;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* MODIFICACION DE ESTILOS DE LA TABLA */
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: rgb(83, 0, 0);
    color: white;
    
}
td {
    background-color: rgb(216, 216, 10);
    color: black;
}
td:nth-child(odd){/*Para darle estilos a las pares y even a las impares*/
    background-color:darkorange ;
}
td:hover {/* Para que al pasar el cursor cambie el estilo*/
    background-color: red;
    cursor: pointer;
}

/* DISPLAY SIRVE PARA modificar propiedades que vienen por defecto de los elementos */
span {
   display: block;/* block espara separar los span1,2 con un salto de linea,la etiqueta div los separa solos */
    /*display: none;*//*Para ocultar los elementos*/
    /*visibility: hidden;*/ /*Tmabien sirve para ocultar elementos*/
    max-width: 300px;/*Aca al usar maxwidth estamos estableciendo un ancho de 300px al background azul pero es mas raro aun que widht*/
    background-color: blue;
}
.inline {/*Los inline vienen por defectos en span,links y img*/
    display: inline;/*Como div me genera un salto de linea por defecto uso inline para que ambas esten en la misma linea*/
}

/* Position sirve para posicion elemetos de la forma que queramos */
#position {
    /*position: static; Viene por defecto en todos los elementos de html */
    /*position: relative;*//* relativa a donde debe estar posicionado el elemento*/
    /*position: fixed;*//*indica una posicion respecto a lo que estamos viendo en el explorador si bajo se sigue viendo*/
    /*position: absolute; se posicion rlativo con el elemento padre mas cercano o sino con body*/
    position: sticky; /*una mezcla entre relative y fixed para notarla deja el top25px*/
    /* position: -ms-page; */
    /* position: -webkit-sticky; */
    /* position: inherit; */
    left: 20px;/*Desplazamos el elemnto 20px a la izq*/
    top: 25px;
}

/* Float sirve para hacer flotar los elementos de HTML */
.Left {
    float: left;
    width: 200px;
    height: 200px;
}
.Right { 
    float: right;
}
.contenido { 
    height: 200px;
}
.card {
    color: yellow;
    border: solid 1px darkgoldenrod;
    border-radius: 5px;
    margin: 0 15px;
    padding: 10px 15px;
}
.inline-block {
    display: inline-block;/*A diferencia de los inline el inline-block me permite asignar un acho y alto*/
    height: 55px;
    background-color: rgb(177, 177, 130);
}
/* Centrar un elemento para esto siempre debemos indicar un ancho no puede ser del 100% */
.centrado {
    padding: 25px 0;
    text-align: center;
    /* width: 400px; */
    margin: 0 auto;
    background-color: yellow;   
}
.imagennorpor {
    width: 300px;
    height: 300px;  
}



